<ng-container *ngIf="element">
    <ng-container *ngIf="element.children.length > 0">
        <a href="#" class="list-group-item list-group-item-action" (click)="element.collapsed = !element.collapsed"
            [attr.aria-expanded]="!element.collapsed" aria-controls="collapseExample">{{element.name}}</a>
        <div class="list-group list-group-flush p-2" #collapse="ngbCollapse" [(ngbCollapse)]="element.collapsed">
            <ng-container *ngFor="let child of element.children">
                <app-nav-element [element]="child"></app-nav-element>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="element.children.length === 0">
        <a href="{{element.link}}" class="list-group-item list-group-item-action">{{element.name}}</a>
    </ng-container>
</ng-container>