<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <a class="navbar-brand text-dark" href="#" routerLink=""
    ><img src="./assets/beacon_logo.svg"
  /></a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
  </div>
</nav>
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush p-2">
      <a href="#" class="list-group-item list-group-item-action active"
        >Get Started</a
      >
      <a
        href="#"
        class="list-group-item list-group-item-action"
        (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
        >Get Started</a
      >
      <div
        class="list-group list-group-flush p-2"
        #collapse="ngbCollapse"
        [(ngbCollapse)]="isCollapsed"
      >
        <a href="#" class="list-group-item list-group-item-action">Overview</a>
        <a href="#" class="list-group-item list-group-item-action">Events</a>
      </div>
      <a href="#" class="list-group-item list-group-item-action">Overview</a>
      <a href="#" class="list-group-item list-group-item-action">Events</a>
      <a href="#" class="list-group-item list-group-item-action">Profile</a>
      <a href="#" class="list-group-item list-group-item-action">Status</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" class="py-5">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
