/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3880ff;
  --ifm-color-primary-dark: rgb(30 106 241);
  --ifm-color-primary-darker: rgb(41 114 245);
  --ifm-color-primary-darkest: rgb(33 110 247);
  --ifm-color-primary-light: rgb(77 138 245);
  --ifm-color-primary-lighter: rgb(85 142 243);
  --ifm-color-primary-lightest: rgb(92 147 243);
  --ifm-code-font-size: 95%;

  --ifm-color-dark: #35415b;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.footer__copyright {
  text-align: left;
  padding: 0 var(--ifm-spacing-horizontal);
}
.footer__links {
  margin: 2rem 0;
}
.button {
  border-radius: 2em;
}

.d-align-items--center {
  display: flex;
  align-items: center;
}
